.submitbtn {
  display: flex;
  justify-content: center;
}

.submit {
  padding-bottom: 30px;
}

.submitbtn button{
  cursor: pointer;
  padding: 15px 30px;
  border: none;
  background-color: #007FFF;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
}