.submitbtn {
  display: flex;
  justify-content: center;
}

.submit {
  padding-bottom: 30px;
}

.submitbtn button{
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  background-color: #007FFF;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
}

@media only screen and (min-width: 660px) {

  .submitbtn button{
    padding: 15px 30px;
    border-radius: 5px;
  }
}