.forminput {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
  padding: 20px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.checkradio {
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkradio label {
  font-size: 18px;
  font-weight: 400;
  color: rgb(44, 51, 69);
}

.checkradio input {
  width: 20px;
  height: 20px;
}

.optionbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.activeform {
  box-shadow: 0 0 0 2px #0293e2;
}

.labelheading {
  font-size: 18px;
  font-weight: 500;
  color: #2c3345;
}

.required::after {
  content: ' *';
  color: red;
}

.forminput input,
select, textarea {
  position: relative;
  border-radius: 5px;
  border: 2px solid lightgray;
  padding: 15px;
  font-size: 16px;
  outline: none;
}

.inputcomponent {
  position: relative;
  border-radius: 5px;
  border: 2px solid lightgray;
  padding: 15px;
  font-size: 16px;
  outline: none;
  color: gray;
}

.inputcomponent svg {
  position: absolute;
  right: 10px;
  top: 15px;
}

.inputoptions {
  font-size: 16px;
  font-weight: 500;
  color: #2c3345;
  padding-left: 10px;
}

.areabox {
  height: 100px;

}

.options {
  position: absolute;
  right: -50px;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.iconbutton {
  cursor: pointer;
  color: #fff;
  border: 0;
  border-radius: 18px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  min-width: 36px;
  height: 36px;
  padding: 0 8px;
  display: flex;
}

.setting {
  background: #49515a;
}

.trash {
  background-color: #d73027;
}