.header {
  position: fixed;
  top: 0;
  text-align: center;
  background: #fff;
  width: 100%;
  z-index: 50;
}

.header h1 {
  margin: 10px 0;
}

.mainContent {
  display: flex;
  background-color: #f3f3fe;
  margin-top: 60px;
}